# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=bot

# RabbitMQ
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password

# APP and BOT config
BASE_CONFIG=/app/config.toml

# MinIO
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=password
MINIO_BROWSER_REDIRECT_URL=http://localhost:8080/console/
MINIO_DOMAIN=localhost

# Caddy
TLS=internal
URI=http://localhost:8080

# Telegram bot API
TELEGRAM_API_ID=API_ID
TELEGRAM_API_HASH=API_HASH
TELEGRAM_LOCAL=True