# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=bot

# RabbitMQ
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
RABBIT_SOC_URL=amqp://user:password@rabbitmq:5672/

# APP and BOT config
BASE_CONFIG=/app/config.toml

# MinIO
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=password
MINIO_BROWSER_REDIRECT_URL=http://localhost:7432/console/
MINIO_DOMAIN=localhost:7432

# Caddy
TLS=internal
URI=http://localhost:7432

# Telegram bot API
TELEGRAM_API_ID=API_ID
TELEGRAM_API_HASH=API_HASH
TELEGRAM_LOCAL=True